@import 'variables';

@mixin transition($prop, $time, $funct) {
  transition: $prop $time $funct;
  -webkit-transition: $prop $time $funct;
  -moz-transition: $prop $time $funct;
  -o-transition: $prop $time $funct;
  -ms-transition: $prop $time $funct;
}

@mixin box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
