$main-font:'CenturyGothic', 'Helvetica', sans-serif;;


$font-color-1: #fff;
$color-theme-1: #00633f;
$color-theme-2: #00927c;
$frame-color: #ff3a3a;
$frame-color-2: #ffa655;

$font-size: 16px;
// $font-height: 1.5;
$font-weight: 400;

/** Grid variables **/
// $container-width: 1200px;

   // transitions   
$prop: all;
$time: 0.5s;
$funct: ease;
