@import "normalize";
@import "variables";
@import "mixin";
@import "grid";

@font-face {
	font-family: CenturyGothic;
	src: url('../fonts/CenturyGothicBold.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: CenturyGothic;
	src: url('../fonts/CenturyGothicReg.ttf');
	font-weight: normal;
	font-style: normal;
}


* {
	@include box-sizing;
}



html, body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: CenturyGothic;
	font-size: $font-size;

}

h1, h2, h3 {
	margin: 0;
	line-height: 1;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	@include transition($prop, $time, $funct);
}

#section-1 {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	#overflow-x: scroll;

}

#section-1__panorama {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 120vw;
	overflow: hidden;
	white-space: nowrap;
	img {
		display: block;
		width: 120vw;
		height: 100vh; 
	}
}

.section-1__container {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}

header {
	padding: 0 40px;
	background: #fff;
}

.slide-1__nav {
	margin: 0;
	font-size: 0;
	text-align: left;
	padding: 0;
	overflow: hidden;

	li {
		float: right;
		font-weight: bold;
		font-size: $font-size;
		padding: 19px 16px;
		border-left: 1px solid #e9e9e9;
		cursor: pointer;
		a {
			color: $color-theme-1;
		}
		
		img {
			vertical-align: middle;
			padding-right: 3px;
		}

		&:hover {
			background: $color-theme-2;
			color: $font-color-1;
		}
		&:hover a {
			color: $font-color-1;
		}
	}

	li:first-child {
		float: left;
		background: $color-theme-2;
		border-right: 1px solid #e9e9e9;
		a {
			color: $font-color-1;
		}
		&:hover, &:hover a {
			background: $color-theme-2;
			color: $font-color-1;
		}
	}


	li.nav__to-order {
		background: $color-theme-1;
		padding: 19px 40px;
		border: none;
		a {
			color: $font-color-1;
		}
		&:hover {
			background: $color-theme-2;
		}
	}
}

.section-1__logo {
	margin-top: 90px;
	text-align: center;
	img {
		width: 148px;
		height: auto;
		margin: auto;
	}
}

.slide-1__items {
	position: absolute;
	width: 100%;
	bottom: 50px;
	left: 0;
	padding: 0 50px;
	a{
		display: inline-block;
		&:hover {
			transform: scale(2);
		}
	}
	span {
		display: inline-block;
		vertical-align: middle;
		font-size: 1.125rem;
		font-weight: bold;
		color: $font-color-1;
	}
	img {
		vertical-align: middle;
	}
	img.slide-1__about-icon,
	img.slide-1__suven-icon {
		width: 80px;
		height: auto;
		vertical-align: middle;
	}
}

.section-1__about-block {
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 0;
	width: 25%;
	padding: 30px 40px 0;
	background: $font-color-1;
	color: $color-theme-2;
	border-top: 4px solid $frame-color;
	// for animate section-1__about-block
	transform: translateY(100%);
	opacity: 0;
	transition: opasity 1s ease, transform 1s ease;

	h3 {
		font-size: 1.125rem;
		padding: 0 0 30px;
		border-bottom: 4px dotted $color-theme-2;
	}
	p {
		font-size: 0.75rem;
		padding-bottom: 120px;
	}
}

   // animate section-1__about-block   
   .section-1__about-block.active {
   	transform: translateY(0);
   	opacity: 1;
   }

   // section-2

   .section-2 {
   	width: 100%;
   	padding-top: 120px;
   	padding-bottom: 250px;
   	color: $color-theme-2;
   	border-bottom: 7px solid $frame-color;
   	h2 {
   		font-size: 2.25rem;
   		font-weight: 400;
   	}

   	h1 {
   		margin-top: 60px;
   		font-size: 2.625rem;
   		letter-spacing: 0.5rem;
   		font-weight: 400;
   	}
   }

	// section-3

	.section-3 {
		padding: 60px 40px;
		background: #00473c url(../../dev/images/img_backg.png) no-repeat top center;
		background-size: auto cover;
		border-bottom: 7px solid $frame-color;

		.section-3__content {
			padding-bottom: 160px;
			border: 4px solid $frame-color-2;
			color: $frame-color-2;

			img {
				margin: auto;
				padding-top: 70px;
			}

			h3 {
				padding-top: 30px;
				font-size: 1.875rem;
				font-weight: 400;
				letter-spacing: 0.75rem;
			}

			h2 {
				margin: 0 80px;
				padding: 50px 0 90px;
				font-size: 2.25rem;
				font-weight: bold;
				border-bottom: 8px dotted $frame-color-2;
			}

			h2.section-3__title-descr {
				padding: 130px 0 105px;
				font-size: 2.25rem;
				font-weight: bold;
				color: $font-color-1;
				letter-spacing: 1rem;
				border-bottom: none;
			}
			article {
				font-size: 0;
			}

			p {
				display: inline-block;
				width: 50%;
				padding: 0 60px;
				font-size: 1rem;
				font-weight: bold;
				color: $font-color-1;
				text-align: left;
			}
			p:not(:last-child) {
				border-right: 1px solid $frame-color-2;
			}
		}
	}  

	.section-3__art-info {
		color: $frame-color-2;
		font-size: 0.75rem;
	}

	// section-4

	.section-4 {
		color: $color-theme-2;
		overflow: hidden;

		h3 {
			font-size: 1.875rem;
			padding: 100px 0 70px;
			font-weight: 400;
		}

		h1 {
			font-size: 3rem;
			letter-spacing: 0.5rem;
			opacity: 0;
		}

		a {
			display: inline-block;
			margin: 90px 0 125px;
			padding: 20px 80px;
			background: $color-theme-1;
			color: $font-color-1;
			font-size: 1.5rem;
			font-weight: bold;
			&:hover {
				background: $color-theme-2;
			}
		}
	}

	// footer   

	.footer-nav {
		margin: 0;
		padding: 0 40px;
		overflow: hidden;
		background: $color-theme-1;
		li {
			float: left;
			padding: 0 15px;
			vertical-align: middle;
			a {
				display: inline-block;
				color: $font-color-1;
				font-weight: bold;
				vertical-align: middle;
			}
			img {
				vertical-align: middle;
			}		
			&:last-child {
				float: right;
			}

			&:hover {
				background: $color-theme-2;
			}
		}

		li.border {
			border-left: 1px solid $font-color-1;
			&:hover {
			}
		}

		li.padding {
			padding: 6px 15px 8px;
		}
	}

	// main and footer show/hide

	.main-container,
	.footer-container {
		display: none;
	}

	.main-container.show,
	.footer-container.show {
		display: block;
	}

	// slide-4 title animation

	.section-4__title-animate-1 {
		transform: translateX(-100%);
		opacity: 0;
		transition: opasity 2s ease, transform 2s ease;
	}

	.section-4__title-animate-1.show {
		transform: translateX(0);
		opacity: 1;
		transition: opasity 2s ease, transform 2s ease;
	}

	.section-4__title-animate-2 {
		transform: translateX(100%);
		opacity: 0;
		transition: opasity 2s ease, transform 2s ease;
	}

	.section-4__title-animate-2.show {
		transform: translateX(0);
		opacity: 1;
		transition: opasity 2s ease, transform 2s ease;
	}